<main>
  <div class="container form">
    <div class="row h-100 justify-content-center">
      <div class="col-9 mt-5">
          <h2 class="centered">Edit Project</h2>
          <p class="text-muted centered"><small><%= svg 'creator' %>Created by: <%= @project.owner %></small></p>

          <%= bootstrap_form_for(@project, local: true) do |form| %>
              <div class="row">
                <div class="col-8"><%= form.text_field :name, label_class: "text-muted" %></div>
                <div class="col-4 align-self-end update_btn"><%= form.submit "Update Name", class: "btn btn-secondary" %></div>
              </div>
              <div class="row">
                <div class="col-8"><%= form.text_area :description, label_class: "text-muted" %></div>
                <div class="col-4 align-self-end update_btn "><%= form.submit "Update Description", class: "btn btn-secondary" %></div>
              </div>
          <% end %>
          <%= render :partial => 'members/edit', :object => @project.members, as: 'members' %>
          <%= render :partial => 'members/new', :object => @project.members.build, as: 'member' %>
          <div class="attach-form">
            <%= form_with(model: @project, local: true, class: "form-attach") do |form| %>
              <div class="attach-form">
                <%= form.label :attachments, 'Add files/docs', for:"FormControlFile1", class: "text-muted" %>
                <%= form.file_field :attachments, multiple: true, id:"FormControlFile1", class:"attach-form-control-file" %>
              </div>
              <div class="form-group project-submit-btn">
                <%= button_tag( :class => "btn btn-warning" ) do %>
                  <i class="fa fa-download"></i>
                <% end %>
              </div>
            <% end %>
            <div class="projects-attach">
            <% if @project.attachments.attached? %>
                <p class="text-muted"> Attachments:</p>
                <% @project.attachments.each do |file| %>
                  <div class="projects-attach-item">
                    <%= link_to delete_attachment_project_url(file.id),
                      method: :delete,
                      data: { confirm: 'Are you sure?' },
                      class: 'btn btn-danger  btn-sm' do %>
                      <%= svg 'delete' %>
                    <% end %>
                    <% if file.previewable? %>
                      <%= link_to(image_tag(file.preview(resize_to_limit: "100x100>").processed.service_url),  rails_blob_path(file, disposition: "attachment"))%>
                    <% elsif file.variable? %>
                      <%= link_to(image_tag(file), rails_blob_path(file, disposition: "attachment"))%>
                    <% else %>
                      <% file_title = file.blob.filename %>
                      <%= link_to "#{file_title}", rails_blob_path(file, disposition: "attachment") %>
                    <% end %>
                  </div>
                  <% end %>
              <% end %>
            </div>
          </div>
          <div class="centered my-3 ">
            <%= link_to project_path(@project), class: "btn btn-info" do %>
              <%= svg 'overview' %>
              Project Overview
            <% end %>
          </div>
          <div class="centered my-3 fixed-bottom">
            <%= link_to project_path(@project),data: { confirm: "Are you sure you want to delete this project?" }, method: :delete, class: "text-muted" do %>
              <%= svg 'delete' %>
              Delete Project
            <% end %>
          </div>
      </div>
    </div>
  </div>
</main>
