<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="project-show">

        <h2 class="project-show-name"><%= @project.name %></h2>

        <div class="project-creator">
          Created by: <%= @project.user.name %>
        </div>

        <div class="project-show-description">
          <p><%= @project.description %></p>
        </div>

        <div class="project-members">

          <div class="project-members-list">
            <% if @project.members.first %>
              <div class="project-members-title">
                Members:
              </div>
            <% end %>
            <div class="project-members-list-wrap">
              <% @members.each do |member| %>
                <%= link_to edit_project_member_path(@project, member) do %>
                  <div class="project-member-info">
                    <p><%= member.name %></p>
                    <p><%= member.email %></p>
                    <% if member.is_admin %>
                      <i class="fa fa-star"></i>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
          <% if @activeMember && @activeMember.is_admin ||
              current_user.id == @project.user.id %>
            <%= link_to new_project_member_path(@project), class: 'btn' do %>
              <button type="button" class="btn btn-primary" aria-label="Center Align">
                Add new member
              </button>
            <% end %>
          <% end %>
        </div>

          <div class="project-btn-wrap">
            <%= link_to 'Back', projects_path, class:"btn btn-outline-primary"  %>
            <% if @activeMember && @activeMember.is_admin ||
                current_user.id == @project.user.id %>
              <%= link_to 'Edit Project', edit_project_path(@project), class:"btn btn-primary" %>
              <%= link_to 'Destroy Project', @project, method: :delete, class:"btn btn-outline-danger", data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
