<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>

  <%= link_to new_project_member_path(@project), class: 'btn' do %>
    <button type="button" class="btn btn-primary" aria-label="Center Align">
      Add new member
    </button>
  <% end %>
</p>

<p>
  Members:

  <% @members.each do |member| %>
    <p><%= member.name %></p>
  <% end %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
