<main>
  <div class="container form">
    <div class="row h-100 justify-content-center">
      <div class="col-10 mt-4">
        <%= link_to edit_project_path(@project) do %><h2 class="centered"><%= @project.name %></h2><% end %>
        <p class="text-muted centered"><small><%= svg 'creator' %>Created by: <%= @project.owner %></small></p>
        <p class="my-3"><%= @project.description %></p>
        <p class="text-muted" id="members">Members:</p>
        <div class="row">
          <div class="col py-1"><%= svg 'creator' %><small><%= @project.owner %></small></div>
          <%= render :partial => 'members/index', :object => @project.members, as: 'members' %>
        </div>
        <% if @project.is_admin %>
          <%= render :partial => 'topics/new', :object => @project.topics.build, as: 'topic' %>
        <% end %>
        <%= render :partial => 'topics/index', :object => @project %>
        <%= render :partial => 'add_attachment', :object => @project %>
        <%= render :partial => 'index_attachment', :object => @project %>
        <%= render :partial => 'tasks/new', :object => @project.tasks.build, as: 'task' %>
      </div>
      <div class="col">
        <div class="position-fixed justify-content-start mt-4">
          <% if @project.is_admin %>
            <div class="mb-3">
              <%= link_to edit_project_path(@project), class: "btn btn-info" do %>
                <%= svg 'edit' %>
                Edit Project
              <% end %>
            </div>
          <% end %>
          <div>
            <%= link_to project_path(@project, anchor: "members"), class: "btn btn-warning mb-3" do %>
              <%= svg 'member' %>
              Members
            <% end %>
          </div>
          <div>
            <%= link_to project_path(@project, anchor: "topics"), class: "btn btn-warning mb-3" do %>
              <%= svg 'chat' %>
              Topics
            <% end %>
          </div>
          <div>
            <%= link_to project_path(@project, anchor: "tasks"), class: "btn btn-warning mb-3" do %>
              <%= svg 'tasks' %>
              Tasks
            <% end %>
          </div>
          <div>
            <%= link_to project_path(@project, anchor: "attachments"), class: "btn btn-warning mb-3" do %>
              <%= svg 'attachment' %>
              Attachments
            <% end %>
          </div>
          <% if !@project.is_owner %>
            <div>
              <%= link_to project_member_unsubscribe_path(@project, @project.member), :class => 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure you want to Unsubsciribe from this project?' } do %>
                <%= svg 'log_out' %>
                Leave Project
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>
