<main>
  <div class="container form">
    <div class="row h-100 justify-content-center">
      <div class="col-9 mt-4">
        <%= link_to edit_project_path(@project) do %><h2 class="centered"><%= @project.name %></h2><% end %>
          <p class="text-muted centered""><small><%= svg 'creator' %>Created by: <%= @project.owner %></small></p>
          <p class="my-3"><%= @project.description %></p>
          <%= render :partial => 'members/index', :object => @project.members, as: 'members' %>
          <div class="centered my-3 ">
            <%= link_to edit_project_path(@project), class: "btn btn-info" do %>
              <%= svg 'edit' %>
              Edit Project
            <% end %>
          </div>
          <div class="centered my-3 fixed-bottom">
            <%= link_to project_path(@project),data: { confirm: "Are you sure you want to delete this project?" }, method: :delete, class: "text-muted" do %>
              <%= svg 'delete' %>
              Delete Project
            <% end %>
          </div>
      </div>
    </div>
  </div>
</main>
