<div class="row mt-4" id="tasks">
  <% if @project.tasks.length %>
    <% @project.tasks.each do |task| %>
      <% if task.id %>
        <div class="col-12 mb-4">
          <div class="card border-info topic">
              <div class="card-header">
                <div class="row">
                  <div class="col mr-auto font-weight-bolder text-dark">
                    <%= task.title %>
                  </div>
                  <% if @project.is_admin %>
                    <div class="col-auto">
                      <%= link_to edit_project_task_path(@project, task), class: "mr-1" do %>
                        <%= svg 'edit' %>
                      <% end %>
                      <%= link_to project_task_path(@project, task), method: :delete, data: { confirm: 'Do you really want to delete this task?' }  do %>
                        <%= svg 'delete' %>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
